body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header, footer {
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

form {
  width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

page-container {
  margin-left: 80px;
}